{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block content %}

<div class="container-account">

<h1> Ma commande n°{{ order.reference }}. </h1>

<br>
<p> Commande passée le :  {{ order.createdAt |date('d/m/Y')}} </p> <br>
<p> Référence : {{order.reference}}  </p>
<hr>
<p> Détails </p>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Titre du livre</th>
      <th scope="col">quantité</th>
      <th scope="col">prix unitaire</th>
      <th scope="col">prix total</th>
    </tr>
  </thead>
  <tbody>
  {% for product in order.orderDetails %}
    <tr>
      <td>{{product.product}}</td>
      <td>{{product.quantity}}</td>
      <td>{{(product.price / 100) | number_format(2) }}euro</td>
            <td>{{(product.total / 100) | number_format(2) }}euro</td>

    </tr>
   
   {% endfor %}
  </tbody>
</table>

<div class="text-right"> Montant total de la commande :  <td>{{(order.getTotal / 100) | number_format(2) }}euro</td>
 </div>

<a href="{{ path('profil_order') }}" class="learn-more"><i class="fas fa-chevron-right"></i> Retour </a>
 
{% endblock %}
