{% extends 'base.html.twig' %}


{% block content %}

<center><h1 class="titre"> Inscription </h1></center>

{% if notification %}

<div class="">
{{ notification }}
</div>
 
{% endif %}

<div class="form-container">
<div class="form">

{{form_start(form)}}

<div class="">
{{ form_row(form.firstname) }}
</div>
<div class="">
{{ form_row(form.lastname) }}
</div>
<div class="">
{{ form_row(form.email) }}
</div>
<div class="">
{{ form_row(form.password) }}
</div>

<a href="{{path('login')}}" class="subscription"> Déjà inscrit ? </a>

{{form_end(form)}}

</div>
</div>
{% endblock %}
