{% extends 'base.html.twig' %}

{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>

{% endblock %}

{% block title %}Récapitulatif avant paiement{% endblock %}

{% block content %}

    <div class="container-recap">


        <h1> Récapitulatif avant paiement </h1>


        <h1> Coordonnés </h1>
        <div class="address-recap">


            {{ delivery|raw }}
        </div>
        <div class="product-recap">

            {% set total = null %}

            {% for product in cart %}

                <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="100px">
                <div class="product-name">{{ product.product.name }} </div>

                <div class="">{{ (product.product.price / 100) | number_format(2) }}euros
                </div>
                <div class=""> | x {{ product.quantity }}

                </div>

                {% set total = total + (product.product.price * product.quantity) %}

            {% endfor %}
        </div>
        <hr>
        <strong class=""> valeur totale : {{ (total / 100 ) | number_format(2) }} euros.
        </strong>
        <a id="checkout-button" class="button"> Payer </a>

    </div>
{% endblock %}

{% block script %}

    <script type="text/javascript">

        var stripe = Stripe("pk_test_51IGkgZGmXhpNP8kE5nKbQeJsN5q1dmEYtYMtOzbZTH6JIrev6IiXELe2GPkJ6ActNCZb7ZZiQC4t4vzYcKj9fgE100i407sHqU");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/commande/create-session/{{ reference }}", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {

                    if (session.error == 'order') {

                    } else {
                        return stripe.redirectToCheckout({sessionId: session.id});

                    }

                })
                .then(function (result) {

                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>

{% endblock %}